@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
  font-family: "Barlow", sans-serif;
  background-color: #272727;
}

@layer utilities {
  
  .clip-path {
    clip-path: polygon(0 100%, 100% 100%, 0 0);
  }

  .bg-color {
    background-color: rgb(39,39,39);
  }

  .bg-color-trust {
    background-color: #101010;
  }

  .hover-transition {
    transition: transform 0.3s;
  }

  .hover-transform {
    transform: scale(1.1)
  }

  .desc-color {
    color: #999;
  }

  .spacer-color {
    background-color: #323232;
  }

  .center-last {
    grid-column: 2;

  }

}